.post-item-card {
  margin-bottom: 8px;

  .content-wrapper {
    display: flex;

    .title-wrapper {
      display: flex;
      align-items: center;
      flex-grow: 1;

      h3 {
        margin: 0;
        text-decoration: underline;
        font-weight: 500;
        color: #3f51b5;
        cursor: pointer;
      }
    }

    .actions {
      > *:first-child {
        margin-right: 8px;
      }
    }
  }
}
