.loader {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  mat-spinner {
    margin: 0 auto;
  }
}

.app-wrapper {
  height: 100vh;
  min-height: 320px;

  .nav-bar {
    display: flex;
    align-items: center;
    padding: 16px;
    box-shadow: 5px 5px 20px rgba(28, 46, 82, 0.15);

    h3 {
      margin: 0 24px 0 0;
    }

    .nav-bar-options {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          color: #3f51b5;
          cursor: pointer;

          &:hover {
            font-weight: 500;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
