<div class="root-login">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="form.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Password">
          <mat-error *ngIf="form.controls.password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button
              [disabled]="!form.valid"
              (click)="onLogin()">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
